header {
    position: relative;
    top: 0px;
    color: black;
    background-color: blue;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 1% 0%;
}
